name: CI - Dart Format

on:
  pull_request:
  push:
    branches: ["main", "develop", "deploy"]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.5"
          cache: true

      - name: Install deps
        run: flutter pub get

      - name: Format check
        run: bash tool/format_check.sh
